body {
  background-color: #333;
}

h4 {
  color: rgb(200, 200, 100);
  font-family: Arial;
  font-size: 38px;
}

h2 {
  color: #333;
  font-family: Arial;
  font-size: 58px;
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0;
}
